$header-height: 34px;
$toolbar-height: 40px;
$formula_height: 24px;
$info-cell-width: 40px;
$row-height: 26px;
$cell-width: 120px;

//colors palette
$font-color: #000;
$default-color: #888;
$border: #c8b029;
$btn: #ab5797;
$btn_active: #7a72e5;
$bg: #145e98;
$bg_2: #2b2a5c;
$bg_table: #dbdbdb;
$bg_table_cell: #f8f9fa;
$border_2: #dad0c0;
